@model GeralVM

<div class="card w-75 m-auto">

    <div class="card-header header-elements-inline">
        <h5 class="card-title">Cadastrar Produto</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
                <a class="list-icons-item" data-action="reload"></a>
                <a class="list-icons-item" data-action="remove"></a>
            </div>
        </div>
    </div>

    <div class="card-body " style="">
        <form action="#">
            <div class="row">
                <div class="form-group col-1">
                    <label>Código:</label>
                    <input type="text" disabled class="form-control" placeholder="">
                </div>

                <div class="form-group col-4">
                    <label>Nome Produto</label>
                    <input type="text" class="form-control" placeholder="Nome do Produto">
                </div>

                <div class="form-group col-7">
                    <label>Descricao Produto</label>
                    <input type="text" class="form-control" placeholder="Descricao Produto">
                </div>              
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label>Categoria</label>
                    <input type="text" class="form-control" placeholder="Categoria do  Produto">

                    @*<select asp-for="Categoria.CategoriaId" asp-items="@Model.Categorias" class="form-control">
                        <option disabled>--Selecione uma Agência--</option>
                    </select>*@
                 
                </div>

                <div class="form-group col-3">
                    <label>Preço</label>
                    <input type="text" class="form-control" placeholder="preço do  Produto">
                </div>

                <div class="form-group col-3">
                    <label>Estoque</label>
                    <input type="text" class="form-control" placeholder="Estoque do  Produto">
                </div>
            </div>
        </form>
    </div>
</div>