@model IEnumerable<Categoria>

<div class="container text-center col-12">
    <form asp-controller="Categoria"  asp-action="Remover">
        <div class="card  text-left" style="">
            <div class="card-header text-center">
                Informação de Categorias
            </div>
            <ul class="list-group list-group-flush">

                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        Categoria: @item.Descricao  

                        <input type="submit" value="Excluir" class="btn btn-danger float-right col-2" asp-route-CategoriaId="@item.CategoriaId" asp-action="Remover" asp-controller="Categoria" />

                    </li>
                }
    </form>
    </ul>
</div>
<br />
</div>